<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center>
        <h1>СОЗДАНИЕ ОБЪЯВЛЕНИЯ</h1>
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <label>Категория:</label>
              <select name="category_id">\
                  {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                  {% endfor %}
              </select>
        <br><br><br>
            <label>Марка:</label>
            <input type="text" name="make" placeholder="Введите марку машины">
        <br><br><br>
            <label>Модель:</label>
            <input type="text" name="model" placeholder="Введите модель">
        <br><br><br>
            <label>Год выпуска:</label>
            <input type="number" name="year" placeholder="Введите год выпуска">
        <br><br><br>
            <label>Цена:</label>
            <input type="number" name="Price" placeholder="Введите цену">
        <br><br><br>
            <label>Описание:</label>
            <input type="text" name="description" placeholder="Введите описание">
        <br><br><br>
            <label>Color:</label>
            <select name="color_id">
                {% for color in colors %}
                    <option value="{{ color.id }}">{{ color.title }}</option>
                {% endfor %}
            </select>
        <br><br><br>
            <label>Image:</label>
            <input type="file" name="image">
            <br><br><br>

            <button type="submit">Сохранить</button>
        </form>

    </center>
</body>
</html>